.aux_add_update {
  display: grid;
  grid-template-rows: repeat(2, vh(26) vh(91)) vh(23) 1fr;
  grid-row-gap: vh(20);
}
.aux_add_update_line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.aux_add_update_label {
  font-size: vh(26);
  font-family: YouSheBiaoTiHei, serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.78);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  background: linear-gradient(0deg, #d7e8ff 0%, #2bbbea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aux_add_update_line_2 {
  display: grid;
  grid-template-columns: 1fr vw(35);
  grid-column-gap: vw(15);
  justify-content: center;
  align-items: center;
}

.icon_line {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, vw(33));
  justify-content: center;
  align-items: center;
}

@mixin iconSty {
  width: vw(33);
  height: vw(33);
  background-size: 100% 100%;
  cursor: pointer;
}
.icon_add {
  @include iconSty;
  background-image: url('@/assets/images/venManagement/patrol_add.png');
}
.icon_minus {
  @include iconSty;
  background-image: url('@/assets/images/venManagement/patrol_minus.png');
}

@mixin iconDown {
  width: vw(15);
  height: vw(20);
  background-size: 100% 100%;
  cursor: pointer;
}
.icon_down {
  @include iconDown;
  background-image: url('@/assets/images/venManagement/down_ok.png');
}
.icon_up {
  @include iconDown;
  background-image: url('@/assets/images/venManagement/upward_ok.png');
}
