.acc_body {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: vw(66) auto vw(78);
	grid-template-rows: vh(250) vh(620);
	grid-row-gap: vh(28);
	grid-template-areas:
		't1 t2 t3'
		'. t4 .';
	align-items: center;
}

@mixin btnIcon {
	width: vw(13);
	height: vh(239);
	background-image: url('@/assets/images/accPerOfRomance/move_icon_1.png');
	background-size: 100% 100%;
	cursor: pointer;
}

.acc_body_icon_1 {
	grid-area: t1;
	position: relative;
	justify-self: end;
	@include btnIcon;
	margin-right: vw(15);
}
.acc_body_icon_2 {
	grid-area: t3;
	@include btnIcon;
	margin-left: vw(15);
	transform: rotateY(180deg);
}
.acc_body_top {
	grid-area: t2;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: vh(250);
	grid-column-gap: vw(21);
}
.acc_body_bottom {
	grid-area: t4;
	width: 100%;
	height: 100%;
	background: rgba(35, 43, 85, 0.76);
	border-radius: vh(10);
	padding: vh(5) vw(10) 0 vw(10);
	display: grid;
	grid-template-rows: vh(27) vh(38) auto;
	grid-row-gap: vh(20);
}
.acc_body_top_body {
	width: 100%;
	height: 100%;
	padding: 8px;
}
.acc_body_top_body_item {
	width: 100%;
	height: 100%;
	display: grid;
	padding-top: 11px;
	grid-template-columns: vw(101) repeat(2, 1fr);
	grid-template-rows: vh(40) vh(22) vh(85) auto;
	grid-template-areas:
		'. header header'
		'. l2 l2'
		'l3 l4 l5'
		'l6 l6 l6';
}
.acc_body_top_body_item_warn {
	box-shadow: inset 0 0 30px #c08c0d;
}
.acc_body_top_body_item_header {
	grid-area: header;
	font-size: vh(23);
	font-family: YouSheBiaoTiHei, serif;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.78);
	line-height: vh(40);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

	background: linear-gradient(180deg, #b8d6ff 0%, #2bc9ea 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.acc_body_top_body_item_l2_text {
	grid-area: l2;
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
}
.green_text {
	color: #00ff43;
}
.red_text {
	color: #ff0000;
}
.acc_body_top_body_item_l2_text_1 {
	padding-left: vw(3);
	font-size: vh(16);
	line-height: vh(21);
}
.acc_body_top_body_item_l2_text_2 {
	font-size: vh(30);
	line-height: vh(30);
}

.acc_body_top_body_item_icon {
	justify-self: end;
	margin-right: vw(7);
	grid-area: l3;
	width: vw(73);
	height: vh(85);
}
.item_icon_normal {
	background-image: url('@/assets/images/accPerOfRomance/normal.png');
	background-size: 100% 100%;
}
.acc_body_top_body_item_warn_icon {
	background-image: url('@/assets/images/accPerOfRomance/warn.png');
	background-size: 100% 100%;
}

@mixin l4Title {
	padding-top: vh(5);
	display: grid;
	align-content: end;
	grid-template-rows: repeat(3, 1fr);
	font-size: vh(14);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;

	.l_title {
		color: #4bc8fc;
	}
	.l_content {
		color: #ffffff;
	}
}
.acc_body_top_body_item_l4 {
	@include l4Title;
	grid-area: l4;
	padding-left: vw(3);
}
.acc_body_top_body_item_l5 {
	@include l4Title;
	grid-area: l5;
}
.acc_body_top_body_item_l6 {
	grid-area: l6;
	display: grid;
	grid-template-columns: repeat(2, vw(134));
	place-content: center end;
	padding-right: vw(16);
}
