@import '@/assets/styles/defaultMinix';
.wind_report_body {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: vh(55) 1fr vh(50);
	padding: vh(16) vw(74) vh(37) vw(123);
}
.wind_report_body_form {
}
.wind_report_body_content {
	position: relative;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.wind_report_body_item {
	display: grid;
	grid-row-gap: vh(10);
}
.wind_report_body_item_label {
	@include defaultMinix1(239, 43);
}
.wind_report_body_item_table {
	width: 100%;
	height: 100%;
}
