.wind_report_body {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: vh(55) auto;
	padding: vh(16) vw(74) vh(37) vw(123);
}
.wind_report_body_form {
}
.wind_report_body_content {
	position: relative;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.wind_report_body_item {
}
.wind_report_body_item_label {
	margin: vh(10) 0;
	position: relative;
	padding-left: vw(65);
	font-size: vh(20);
	font-family: YouSheBiaoTiHei, serif;
	font-weight: 400;
	color: #9cb9ff;
	line-height: vh(43);
	z-index: 0;
	&:after {
		position: absolute;
		content: '';
		width: vw(239);
		height: vh(43);
		left: 0;
		top: 0;
		background-image: url('@/assets/images/accPerOfRomance/table_label.png');
		background-size: 100% 100%;
		z-index: -1;
	}
}
.wind_report_body_item_table {
	width: 100%;
	height: 100%;
}
