//漫游样式
.equipment_msg {
	display: grid;
	grid-template-columns: vw(112) vw(447.6);
	grid-template-rows: vh(272.4) vh(36) vh(37);
	grid-column-gap: vw(10);
}
.equipment_msg_top {
	width: vw(447.6);
	height: vh(272.4);
	background-image: url('@/assets/images/home/home_equipment/t_roam_bg.png');
	background-size: 100% 100%;
	display: grid;
	padding: vh(20) vw(28) vh(45) vw(85);
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: end;
	grid-template-rows: vh(62) vh(30) vh(53) auto;
	align-content: space-between;
}
.equipment_msg_top_opacity {
	opacity: 0;
}
.equipment_msg_center {
	width: vw(112);
	height: vh(36);
	color: #01ffff;
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: vw(20);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: vh(36);
	text-align: center;
	background-image: url('@/assets/images/home/home_equipment/title_bg.png');
	background-size: 100% 100%;
}
.equipment_msg_footer {
	position: relative;
	justify-self: center;
	width: 1px;
	height: 100%;
	background: #4190f1;
	border: 1px solid #4190f1;
	box-shadow: 0 3px 7px 0 #000000;
	&:after {
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #052b9d;
		box-shadow: 0 3px 7px 0 #4190f1 inset;
		bottom: -5px;
		left: -5px;
	}
}

.equipment_msg_top_item_1 {
	display: grid;
	grid-template-columns: auto vw(52);
	align-items: center;
	.equipment_msg_top_item_1_text {
		align-self: center;
		font-size: vw(14);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		color: #ffffff;
		span {
			color: #69d2f9;
		}
	}
}
.equipment_msg_top_item_2 {
	justify-self: center;
	align-self: center;
	display: grid;
	font-size: vw(22);
	font-family: YouSheBiaoTiHei, serif;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

	background: linear-gradient(180deg, #b8d6ff 30%, #2bc9ea 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.equipment_msg_top_item_3 {
	display: grid;
}
.equipment_msg_top_item_4 {
	display: grid;
}
//风门信息
.equipment_msg_top_item_3_door {
	grid-template-columns: repeat(4, vw(72));
	justify-content: space-between;
}
//风窗信息
.equipment_msg_top_item_3_window {
	grid-template-columns: vw(88) vw(72) vw(72);
	justify-content: space-between;
}
//风速传感器
.equipment_msg_top_item_3_wind_speed {
	grid-template-columns: vw(132) vw(103) vw(72);
	justify-content: space-between;
}
//全断面测风
.equipment_msg_top_item_3_full_section {
	grid-template-columns: vw(123) vw(106) vw(72);
	justify-content: space-between;
}
//多参传感器
.equipment_msg_top_item_3_duo_shen {
	grid-template-columns: vw(70) vw(80) vw(56) vw(56) vw(60);
	justify-content: space-between;
}
//主扇
.equipment_msg_top_item_3_main_fan {
	grid-template-columns: vw(72) vw(72) vw(90) vw(77);
	justify-content: space-between;
}
//局扇
.equipment_msg_top_item_3_local_fan {
	grid-template-columns: vw(72) vw(70) vw(85) vw(85);
	justify-content: space-between;
}
.equipment_msg_top_item_3_body {
	display: grid;
	grid-template-rows: vh(18) vh(26);
	grid-row-gap: vh(5);
	font-size: vw(13);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	align-items: center;
}
@mixin Lamp {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	font-size: vw(12);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: 100%;
	text-align: center;
	color: #f2e2e2;
	display: grid;
	align-items: center;
}
//红
.lamp_red {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/state_red.png');
}
//白
.lamp_grey {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/state_grey.png');
}
//绿
.lamp_green {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/state_green.png');
}
//橙
.lamp_orange {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/state_orange02.png');
}
//蓝
.lamp_blue{
	@include Lamp;
	background-image: url("@/assets/images/home/home_equipment/state_bule.png");
}
//深蓝
.lamp_dark_blue{
	@include Lamp;
	background-image: url("@/assets/images/home/home_equipment/state_dark_blue.png");
}
.equipment_text {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(109, 202, 243, 0.57);
	box-shadow: 0 0 5px 3px rgba(109, 202, 243, 0.57) inset;
}
.equipment_warn {
	width: vw(52);
	height: vw(52);
	background-image: url('@/assets/images/accPerOfRomance/red-gj.gif');
	background-size: 100% 100%;
}
.equipment_normal {
	width: vw(52);
	height: vw(52);
	background-image: url('@/assets/images/accPerOfRomance/green-gj.gif');
	background-size: 100% 100%;
}
//底部文字
.equipment_msg_top_item_4_door {
	grid-template-columns: max-content 1fr;
	grid-column-gap: vw(10);
	grid-template-rows: repeat(2, 1fr);
	font-size: vw(13);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	align-content: center;
	color: #ffffff;
}
.equipment_msg_top_item_3_text_left {
	color: #539cfd;
}
