//漫游样式
.equipment_msg {
	display: grid;
	grid-template-columns: vw(112) vw(373);
	grid-template-rows: vh(227) vh(36) vh(37);
	grid-column-gap: vw(10);
}
.equipment_msg_top {
	width: vw(373);
	height: vh(227);
	background-image: url('@/assets/images/home/home_equipment/t_roam_bg.png');
	background-size: 100% 100%;
	display: grid;
	padding: vh(20) vw(28) vh(40) vw(75);
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: end;
	grid-template-rows: vh(28) vh(60) vh(60);
	align-content: space-between;
}
.equipment_msg_top_opacity {
	opacity: 0;
}
.equipment_msg_center {
	width: vw(112);
	height: vh(36);
	color: #01ffff;
	grid-column-start: 1;
	grid-column-end: 3;
	font-size: vh(20);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: vh(36);
	text-align: center;
	background-image: url('@/assets/images/home/home_equipment/title_bg.png');
	background-size: 100% 100%;
}
.equipment_msg_footer {
	position: relative;
	justify-self: center;
	width: 1px;
	height: 100%;
	background: #4190f1;
	border: 1px solid #4190f1;
	box-shadow: 0 3px 7px 0 #000000;
	&:after {
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #052b9d;
		box-shadow: 0 3px 7px 0 #4190f1 inset;
		bottom: -5px;
		left: -5px;
	}
}

.equipment_msg_top_item_1 {
	width: 100%;
	height: vh(28);
	box-shadow: 0 0 vh(15) 0 #4190f1 inset;
	border: 1px solid #67adfb;
	font-size: vh(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(28);
	text-align: center;
}
.equipment_msg_top_item_2 {
	display: grid;
}
.equipment_msg_top_item_3 {
	display: grid;
}
//风门信息
.equipment_msg_top_item_2_door {
	grid-template-columns: repeat(4, 1fr);
}
//风窗信息
.equipment_msg_top_item_2_window {
	grid-template-columns: repeat(3, 1fr);
}
//风速传感器
.equipment_msg_top_item_2_wind_speed {
	grid-template-columns: repeat(3, 1fr);
}
//全断面测风
.equipment_msg_top_item_2_full_section {
	grid-template-columns: repeat(3, 1fr);
}
//多参传感器
.equipment_msg_top_item_2_duo_shen {
	grid-template-columns: repeat(5, 1fr);
}
//主扇
.equipment_msg_top_item_2_main_fan {
	grid-template-columns: repeat(4, 1fr);
}
//局扇
.equipment_msg_top_item_2_local_fan {
	grid-template-columns: repeat(4, 1fr);
}
.equipment_msg_top_item_2_body {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: vh(5);
	font-size: vw(14);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	align-items: center;
}
@mixin Lamp {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	font-size: vw(12);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: 100%;
	text-align: center;
	color: #f2e2e2;
	display: grid;
	align-items: center;
}
.lamp_op {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/lamp_op.png');
}
.lamp_close {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/lamp_colse.png');
}
.lamp_yc {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/lamp_yc.png');
}
.lamp_dk {
	@include Lamp;
	background-image: url('@/assets/images/home/home_equipment/lamp_dk.png');
}
.equipment_msg_top_item_3_door {
	grid-template-columns: auto auto;
	grid-template-rows: repeat(2, 1fr);
	font-size: vh(14);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	align-content: center;
	color: #ffffff;
}
.equipment_msg_top_item_3_text_left {
	color: #539cfd;
}
