.home_title_route {
	width: vw(430);
	height: vh(239);
	padding: vh(17) 0 vh(17) vw(23);
	display: grid;
	background-image: url('@/assets/images/home/home_dis_pre_route/routeBg.png');
	grid-template-columns: 1fr 1fr;
}
.home_title_route_left {
	display: grid;
	grid-template-rows: repeat(4, vh(40));
	align-content: space-between;
}

.home_title_route_btn {
	text-align: center;
	width: vw(170);
	height: vh(40);
	background-image: url('@/assets/images/home/home_menu_btn.png');
	background-size: 100% 100%;
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-column-gap: vw(11);
	justify-self: center;
	align-items: center;
}
.home_title_route_btn_icon {
	width: vw(20);
	height: vw(21);
	background-size: 100% 100%;
	justify-self: end;
}
.home_route_icon_1 {
	background-image: url('@/assets/images/home/home_dis_pre_route/fire.png');
}
.home_route_icon_2 {
	background-image: url('@/assets/images/home/home_dis_pre_route/gas.png');
}
.home_route_icon_3 {
	background-image: url('@/assets/images/home/home_dis_pre_route/dust.png');
}
.home_route_icon_4 {
	background-image: url('@/assets/images/home/home_dis_pre_route/water.png');
}

.home_route_text {
	justify-self: start;
	font-size: vw(20);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(40);
}
@mixin resDom {
	display: grid;
	grid-template-rows: vh(33) vh(38);
	.res_text {
		font-size: vw(18);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		font-style: italic;
		color: #96b6d3;
		line-height: vh(33);
	}
	.res_btn {
		width: vw(160);
		height: vw(38);
		cursor: pointer;
		background-image: url('@/assets/images/home/home_dis_pre_route/general_button.png');
		background-size: 100% 100%;
		display: grid;
		place-content: center center;
		grid-template-columns: vh(13) auto;
		grid-column-gap: vw(5);
		.res_btn_icon {
			width: vw(13);
			height: vw(17);
			background-image: url('@/assets/images/home/home_dis_pre_route/hand.png');
			background-size: 100% 100%;
			align-self: center;
		}
		.res_btn_text {
			font-size: vw(16);
			font-family:
				Adobe Heiti Std,
				serif;
			font-weight: normal;
			color: #19c3f7;
			line-height: vh(38);
		}
	}
}

.home_title_route_right {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.home_title_route_top {
	@include resDom;
}
.home_title_route_bottom {
	@include resDom;
}

.home_title_route_right_btn {
	align-self: center;
	width: vw(153);
	height: vw(38);
	background-image: url('@/assets/images/home/home_menu_btn.png');
	background-size: 100% 100%;
	cursor: pointer;
	font-size: vw(20);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	display: grid;
	grid-template-columns: vw(71) auto;
	align-items: center;

	span {
		justify-self: start;
	}
}
.home_reverse_wind_btn_icon {
	width: vw(22);
	height: vw(22);
	background-image: url('@/assets/images/home/home_reverse_wind/btn_icon.png');
	background-size: 100% 100%;
	justify-self: center;
}

//人员撤退计划
.home_reverse_wind_people {
	position: absolute;
	top: vh(114);
	right: vw(40);
	width: vw(450);
	height: vh(561);
	padding: vh(10) vw(30) vh(31) vw(40);
	background: rgba(12, 41, 70, 0.85);

	border-radius: 10px;
}

.home_reverse_wind_people_title {
	position: relative;
	height: vh(27);
}
.home_reverse_wind_people_bottom {
	width: 100%;
	height: calc(100% - #{vh(28)});
	padding-top: vh(26);
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fill, vh(79));
	grid-auto-rows: vh(79);
}
.home_reverse_wind_people_bottom_item{
	display: grid;
	grid-template-columns: vw(29) 1fr;
	grid-template-rows: repeat(auto-fill, vh(29) vh(50));
	grid-column-gap: vw(11);
	grid-template-areas:
		'one two'
		'three two';
}
.home_reverse_wind_people_bottom_icon {
	grid-area: one;
	width: vh(29);
	height: vh(29);
	background: #16304b;
	border: vh(3) solid #00ffff;
	border-radius: 50%;

	font-size: vw(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #00ffff;
	line-height: vh(23);
	text-align: center;
}
.home_reverse_wind_people_bottom_text {
	position: relative;
	grid-area: two;
	width: 100%;
	height: 100%;

	font-size: vw(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(29);
	padding-left: vw(20);
	z-index: 2;
	span {
		color: rgba(18, 253, 0, 1);
	}
	&:before {
		position: absolute;
		content: url('@/assets/images/home/home_dis_pre_route/route_text_bg.png');
		width: vw(310);
		height: vw(27);
		background-size: 100% 100%;
		left: 0;
		z-index: -1;
	}
}
.home_reverse_wind_people_bottom_border {
	grid-area: three;
	justify-self: center;
	width: 1px;
	height: 100%;
	background: rgba(38, 124, 238, 1);
}
