.home_title_roam {
	width: vw(359);
	height: vh(186);
	display: grid;
	background-image: url('@/assets/images/home/home_roam/roam_little_bg.png');
	padding: vh(29) 0 0 0;
	grid-template-rows: vh(33) repeat(2, vh(26));
	grid-row-gap: vh(21);
}

@mixin homeRoamText {
	font-size: vh(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(33);
	padding-left: vw(20);
}
.home_roam_title {
	@include homeRoamText;
	background-color: rgba(38, 123, 239, 0.25);
	display: grid;
	grid-template-columns: auto vw(185);
	.home_roam_title_1 {
		justify-self: start;
	}
	.home_roam_title_2 {
		justify-self: center;
	}
}

@mixin menuActive {
	color: #ffff00;
	text-shadow:
		0 0 vw(10) #ff9b00,
		0 0 vw(10) #ff9b00,
		0 0 vw(15) #ff9b00;
}

.home_roam_body {
	@include homeRoamText;
	line-height: vh(26);
	display: grid;
	grid-template-columns: minmax(vh(128), vw(160)) vw(77) vw(77);
	place-content: space-between;
	padding-right: vw(10);
	.home_roam_body_1 {
		justify-self: start;
	}
	.home_roam_body_2 {
		font-size: vh(14);
		text-align: center;
		width: vw(77);
		height: vh(26);
		justify-self: center;
		background-image: url('@/assets/images/home/home_menu_btn.png');
		background-size: 100% 100%;
		cursor: pointer;
		&:hover {
			@include menuActive;
		}
	}
}

.home_roam_text_active {
	@include menuActive;
}

//巡检背景
.drive_bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	height: 100%;
	background-image: url('@/assets/images/home/home_roam/drive_bg.png');
	background-size: 100% 100%;
	display: grid;
	span {
		position: absolute;
		left: vw(1207);
		top: vh(754);
		cursor: pointer;
		font-size: vh(36);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		line-height: vh(46);
		color: #ffffff;
	}
}

//巡检漫游设备列表
.home_roam_equipment {
	position: fixed;
	z-index: 1;
	top: vh(118);
	left: vw(38);
	width: vw(522);
	height: vh(952);
	background: rgba(12, 41, 70, 0.85);
	border-radius: 10px;
	padding: vh(15) vw(30) vh(180) vw(40);
}
.home_roam_equipment_title {
	position: relative;
	width: 100%;
	height: vh(28);
	font-size: vh(19);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(19);
	&:after {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		width: vw(446);
		height: vh(12);
		background-image: url('@/assets/images/home/home_right/mes_line.svg');
		background-size: 100% 100%;
	}
}
.home_roam_equipment_bottom {
	width: 100%;
	height: calc(100% - #{vh(28)});
	padding-top: vh(26);
	overflow: hidden;
	display: grid;

	grid-template-rows: vh(87);
	grid-column-gap: vw(40);
}
.home_roam_equipment_bottom_body {
	display: grid;
	grid-template-columns: vw(29) auto;
	grid-template-rows: vh(27) vh(60);
}
//隐藏空元素
.equipment_op {
	opacity: 0;
}
.home_roam_equipment_bottom_icon {
	width: vh(15);
	height: vh(14);
	background-size: 100% 100%;
	place-self: center center;
}
.home_roam_equipment_bottom_icon_1 {
	background-image: url('@/assets/images/home/home_roam/icon_1.png');
}
.home_roam_equipment_bottom_icon_2 {
	background-image: url('@/assets/images/home/home_roam/icon_2.png');
}
.home_roam_equipment_bottom_icon_3 {
	background-image: url('@/assets/images/home/home_roam/icon_3.png');
}
.home_roam_equipment_bottom_title_text {
	position: relative;
	width: 100%;
	height: 100%;
	color: #a9b8d8;
	font-size: vh(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: vh(27);
	padding-left: vw(20);
	z-index: 2;
	&:before {
		position: absolute;
		content: url('@/assets/images/home/home_dis_pre_route/route_text_bg.png');
		width: vw(310);
		height: vh(27);
		background-size: 100% 100%;
		left: 0;
		z-index: -1;
	}
}
.home_roam_equipment_bottom_body_text {
	width: 100%;
	height: 100%;
	padding-left: vw(30);
	font-size: vh(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #a9b8d8;
	line-height: vh(26);
	display: grid;
	grid-template-rows: repeat(2, vh(26));
	align-content: center;
}

.home_roam_equipment_bottom_border {
	justify-self: center;
	width: 1px;
	height: 100%;
	background: rgba(38, 124, 238, 1);
}
