//图标背景
.home_icon_bg {
	position: absolute;
	top: 0;
	width: vw(301);
	height: vh(954);
	left: vw(35);
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: vh(50) repeat(8, vh(110));
	background-image: url('@/assets/images/home/home_icons/curve-01.png');
	background-size: 100% 100%;
}
.home_icon_search {
	margin-left: vw(80);
	margin-top: vh(20);
	:deep(.el-input) {
		width: vw(170);
		height: vh(22);
		--el-input-bg-color: rgba(0, 0, 0, 0);
		--el-input-border-color: rgba(105, 210, 249, 1);
		--el-input-hover-border: rgba(105, 210, 249, 1);
		--el-input-focus-border: rgba(105, 210, 249, 1);
		--el-input-hover-border-color: rgba(105, 210, 249, 1);
		--el-font-size-base: #{vh(12)};
		--el-input-height: #{vh(22)};
		--el-input-text-color: rgba(105, 210, 249, 1);
		.el-input__wrapper {
			padding: 0 0 0 vw(7);
			box-shadow:
				0 1px 0 0 var(--el-input-border-color) inset,
				0 -1px 0 0 var(--el-input-border-color) inset,
				1px 0 0 0 var(--el-input-border-color) inset;
		}
		.el-input-group__append {
			--el-fill-color-light: rgba(0, 0, 0, 0);
			padding: 0 vw(12);
		}
	}
}
.home_icon_dom {
	display: grid;
	grid-template-columns: vh(82) auto;
	grid-template-rows: vh(70) auto;
	position: relative;
}
@mixin homeIcon {
	width: vh(82);
	height: vh(70);
	background-size: 100% 100%;
	cursor: pointer;
}
@for $i from 1 through 8 {
	.home_icon_#{$i} {
		@include homeIcon;
		background-image: url('@/assets/images/home/home_icons/icon#{$i}.png');
	}
	.home_icon_#{$i}_active {
		@include homeIcon;
		background-image: url('@/assets/images/home/home_icons/icon#{$i}_active.png');
	}
}

//图标文字
.home_icon_text {
	position: relative;
	margin-top: vh(38);
	margin-left: vw(4);
	padding-left: vh(9);
	cursor: pointer;
	width: max-content;
	height: vh(25);
	z-index: 0;
	font-size: vh(16);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
	line-height: vh(25);
	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: vw(112);
		height: vh(25);
		background-image: url('@/assets/images/home/home_icons/icon_text.png');
		background-size: 100% 100%;
		z-index: -1;
	}
}

.home_icon_s_m {
	position: absolute;
	width: max-content;
	height: max-content;
}
@mixin s_m_public {
	width: max-content;
	height: vh(22);
	margin: vh(5) 0;
	border-radius: 6px;
	padding: 0 vw(10);
	font-size: vh(14);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: vh(22);
	cursor: pointer;
}
//默认样式
.home_icon_s_m_default {
	@include s_m_public;
	border: 1px solid rgba(89, 136, 240, 0.5);
	color: #ffffff;
	&:hover {
		border: 1px solid rgba(255, 250, 30, 0.5);
		color: #fffa1e;
	}
}
//选中样式
.home_icon_s_m_active {
	@include s_m_public;
	border: 1px solid rgba(255, 250, 30, 0.5);
	color: #fffa1e;
}

.home_icon_s_m_animation {
	@for $i from 1 through 20 {
		&:nth-child(#{$i}) {
			animation-delay: $i * 0.1s;
		}
	}
}
