.home_visual_bg {
	width: vw(299);
	height: vh(146);
	background-image: url('@/assets/images/home/home_visual_angle/home_visual_bg.png');
	display: grid;
	grid-template-rows: repeat(2, vh(40));
	place-content: space-evenly;
}
.home_visual_btn {
	width: max-content;
	height: vh(40);
	padding: 0 vw(13) 0 vw(15);
	background-image: url('@/assets/images/home/home_menu_btn.png');
	background-size: 100% 100%;
	cursor: pointer;
	font-size: vh(18);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	line-height: vh(22);
	color: #ffffff;
	justify-self: center;
	display: grid;
	grid-template-columns: vw(22) auto vw(20);
	grid-template-rows: vh(22);
	grid-column-gap: vw(9);
	place-content: space-evenly;
}
@mixin homeVisualIcon {
	width: vw(22);
	height: vh(22);
	background-size: 100% 100%;
}
.home_visual_icon_1 {
	@include homeVisualIcon;
	background-image: url('@/assets/images/home/home_visual_angle/icon1.png');
}
.home_visual_icon_2 {
	@include homeVisualIcon;
	background-image: url('@/assets/images/home/home_visual_angle/icon2.png');
}

//风路分支图
.other_wind_path {
	position: fixed;
	top: vh(118);
	left: vw(38);
	width: vw(522);
	height: vh(952);
}

//通风网络图
.other_wind_net {
	position: fixed;
	top: vh(118);
	right: vw(38);
	width: vw(931);
	height: vh(952);
}
