.home_air_door_body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 vw(57) vh(47) vw(48);
	display: grid;
	grid-template-columns: 1fr vw(690);
	grid-column-gap: vw(26);
	grid-template-rows: 1fr vh(305);
	grid-row-gap: vh(16);
}
.home_air_door_body_c1 {
	display: grid;
	grid-template-columns: 1fr vw(512);
	grid-template-rows: 1fr 1fr;
	.home_air_door_body_c1_c1 {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.home_air_door_body_c1_l1 {
	}
	.home_air_door_body_c1_l2 {
	}
}

@mixin dashLine {
	width: 8px;
	height: 100%;
	background: radial-gradient(circle, #00ffff, #235794);
	-webkit-mask-image: url('@/assets/images/line-01.svg');
	-webkit-mask-size: 100% 100%;
	-webkit-background-size: 100% 100%;
}

.home_air_door_body_c2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	background: rgba(95, 104, 149, 0.28);
	display: grid;
	grid-template-rows: vh(37) vh(65) vh(147) vh(60) vh(37) vh(250) vh(37) 1fr;
	.home_air_door_body_c2_item1 {
		padding: 0 vw(14);
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		//	选择按钮
		.door_choose_icon {
			position: absolute;
			top: vh(10);
			cursor: pointer;
			:deep(.el-icon) {
				font-size: vh(20);
				color: #00eaff;
			}
		}
		//	更多按钮
		.door_more_btn {
			position: absolute;
			top: vh(10);
			right: 55px;
			cursor: pointer;
			font-size: vh(14);
			font-family:
				Adobe Heiti Std,
				serif;
			font-weight: normal;
			color: #4bc8fc;
		}
	}
	.home_air_door_body_c2_item2 {
		margin: vh(21) vw(14) 0 vw(14);
		background: rgba(21, 80, 149, 0.65);
		font-size: vh(14);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		color: #4bc8fc;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: vw(10);
		grid-template-rows: 1fr;
		align-items: center;
		padding-left: vw(16);
	}
	.home_air_door_body_c2_item3 {
		width: 100%;
		height: 100%;

		display: grid;
		grid-template-columns: repeat(2, 1fr) 6px repeat(2, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'. . c3 . .'
			'. . c3 . .'
			'. . c3 . .';
		font-size: vh(18);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		color: #ffffff;
		align-items: center;
		.home_air_door_body_c2_item3_c1 {
			display: flex;
			align-items: center;
			padding-left: vw(20);
		}
		.home_air_door_body_c2_item3_c3 {
			@include dashLine;
			grid-area: c3;
		}
	}
	.home_air_door_body_c2_item4 {
		background: rgba(22, 78, 145, 0.73);
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		font-size: vh(18);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		color: #4bc8fc;
		.home_air_door_body_c2_item4_item {
			display: flex;
			align-items: center;
			span {
				margin: 0 vw(10);
			}
		}
	}
	.home_air_door_body_c2_item5 {
		padding: 0 vw(14);
	}
	.home_air_door_body_c2_item6 {
		width: 100%;
		height: 100%;
		padding: vh(14) 0;
		display: grid;
		grid-template-columns: vw(182) vw(167) 1px vw(144);
		grid-template-rows: 1fr vh(79) vh(79);
		grid-row-gap: vh(12);
		justify-content: space-around;
		grid-template-areas:
			'l1 l1 l1 l1'
			'l2 l3 l4 l5'
			'l6 l7 l4 l5';
		.home_air_door_body_c2_item6_l1 {
			grid-area: l1;
			justify-self: center;
		}
		.home_air_door_body_c2_item6_l2 {
			grid-area: l2;
		}
		.home_air_door_body_c2_item6_l3 {
			grid-area: l3;
		}
		.home_air_door_body_c2_item6_l4 {
			grid-area: l4;
			@include dashLine;
		}
		.home_air_door_body_c2_item6_l5 {
			grid-area: l5;
			.home_air_door_body_c2_item6_l5_bg {
				position: relative;
				width: vw(144);
				height: vw(144);
				background-image: url('@/assets/images/equipment/deadlock.png');
				background-size: 100% 100%;
				text-align: center;
				padding-top: vw(86);
				cursor: pointer;
				span {
					font-size: vh(14);
					font-family:
						Adobe Heiti Std,
						serif;
					font-weight: normal;
					color: #ffffff;
					background: linear-gradient(0deg, #c4ddff 55.2734375%, #01e5ff 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			.home_air_door_body_c2_item6_l5_title {
				width: 100%;
				text-align: center;
				font-size: vh(16);
				font-family:
					Adobe Heiti Std,
					serif;
				font-weight: normal;
				color: #ffffff;
			}
		}
		.home_air_door_body_c2_item6_l6 {
			grid-area: l6;
		}
		.home_air_door_body_c2_item6_l7 {
			grid-area: l7;
		}
	}
	.home_air_door_body_c2_item7 {
		padding: 0 vw(14);
	}
	.home_air_door_body_c2_item8 {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		//	模式切换
		.item8_bg {
			position: absolute;
			bottom: 0;
			width: vh(691);
			height: vh(217);
			background-image: url('@/assets/images/home/home_equipment/Semicircle_bg.png');
			background-size: 100% 100%;
		}
		//选中
		.item8_active {
			position: absolute;
			width: vh(180);
			height: vh(199);
			background-image: url('@/assets/images/home/home_equipment/current_bg.png');
			background-size: 100% 100%;
			bottom: 0;
			pointer-events: none;
		}
		//底条
		.item8_bottom_line {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: vh(9);
			background: #2886ce;
		}
		//小圆
		.item8_small_bg {
			position: absolute;
			bottom: 0;
			width: vh(125);
			height: vh(63);
			background-image: url('@/assets/images/home/home_equipment/smallCircle.png');
			background-size: 100% 100%;
		}
		//	指针
		.item8_needle {
			position: absolute;
			width: vh(25);
			height: vh(132);
			background-image: url('@/assets/images/home/home_equipment/pointer.png');
			background-size: 100% 100%;
			bottom: 0;
		}
		//	文字
		.item8_text {
			position: absolute;
			bottom: vh(-180);
			width: vh(360);
			height: vh(360);
			border-radius: 50%;
			clip-path: polygon(25% 0, 50% 50%, 75% 0, 25% 0);
			pointer-events: all;
			display: flex;
			justify-content: center;
			cursor: pointer;
			text-align: center;
			.item8_text_dec {
				width: vw(130);
				height: vh(28);
				display: flex;
				justify-content: center;
			}
			span {
				width: 100%;
				font-size: vh(20);
				font-family: Adobe Heiti Std;
				font-weight: normal;
			}
		}
	}
}
//文字选中样式
.text_active {
	color: #010000;
}
//文字默认样式
.text_default {
	color: #81bde3;
}
//文字偏转
.item8_text_route_60 {
	transform: rotate(60deg);
}
.item8_text_route_an_60 {
	transform: rotate(-60deg);
}
// 恢复偏转
.reset_60_route {
	transform-origin: 50% 100%;
	transform: rotate(0);
}
//顺时针偏转52
.item8_route_60 {
	transform-origin: 50% 100%;
	transform: rotate(60deg);
}
//逆时针偏转52
.item8_route_an_60 {
	transform-origin: 50% 100%;
	transform: rotate(-60deg);
}

.home_air_door_body_r2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: vw(7);
	.home_air_door_body_r2_c {
		position: relative;
		width: 100%;
		height: 100%;
	}
}

//远程开门图片
.open_door_btn {
	width: vw(182);
	height: vh(79);
	background-image: url('@/assets/images/equipment/door_open_btn.png');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	span {
		font-size: vh(21);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		background: linear-gradient(0deg, #51fcfe 0%, #fbfdfd 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
//远程关门图片
.close_door_btn {
	width: vw(167);
	height: vh(68);
	background-image: url('@/assets/images/equipment/door_close_btn.png');
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	span {
		font-size: vh(21);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		background: linear-gradient(0deg, #8d8e8e 0%, #fbfdfd 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

//风门参数设置
@mixin ParamItemText {
	font-size: vh(14);
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #ffffff;
}
.door_param {
	position: relative;
	width: 100%;
	height: 100%;
	padding: vh(15) vw(50);
	display: grid;
	grid-template-rows: vh(35) vh(23) 1fr 1fr;
	grid-row-gap: vh(24);
}
.door_param_title {
	width: vw(194);
	height: 100%;
	justify-self: center;
	.door_param_title_body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.door_param_title_icon {
		width: vw(20);
		height: vh(20);
		background-image: url('@/assets/images/equipment/title_icon_02.png');
		background-size: 100% 100%;
	}
	span {
		@include ParamItemText;
		font-size: vh(18);
		color: rgba(255, 255, 255, 0.78);
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

		background: linear-gradient(0deg, #b8d6ff 0%, #2bc9ea 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.door_param_item_1 {
	display: grid;
	@include ParamItemText;
	grid-template-columns: repeat(4, vw(160));
	justify-content: space-between;
	align-content: center;
	.door_param_item_1_body {
		display: flex;
		align-items: center;
		justify-content: space-around;
		.el-input {
			width: vw(43);
			height: vh(23);
			line-height: vh(23);
		}
	}
}

.door_param_item_2 {
	display: grid;
	grid-template-columns: vw(78) vw(136) vw(72) vw(136) vw(139);
	grid-template-rows: 1fr;
	justify-content: space-between;
	align-items: center;
}

.door_param_item_2_l1 {
	display: flex;
	justify-content: center;
	width: 100%;
	height: vh(27);

	@include ParamItemText;
}
@mixin juCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.door_param_item_2_l2 {
	align-self: start;
	@include ParamItemText;
	position: relative;
	@include juCenter;
	.el-input {
		width: vw(52);
		height: vh(23);
	}
	&:after {
		position: absolute;
		left: 0;
		top: vh(27);
		content: '';
		background-image: url('@/assets/images/equipment/next_step.png');
		width: 100%;
		height: vh(23);
		background-size: 100% 100%;
	}
}
.door_param_item_2_l3 {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, vh(24));
	grid-row-gap: vh(8);
	align-items: center;
	text-align: center;
	@include ParamItemText;
}
.door_param_item_2_l4 {
	@include juCenter;
	@include ParamItemText;
	.el-input {
		width: vw(52);
		height: vh(23);
	}
}

//操作按钮
.operation_btn {
	position: relative;
	width: vw(120);
	height: vh(32);
	.operation_btn_body {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0 10px;
		display: flex;
		font-size: vh(16);
		font-family:
			Adobe Heiti Std,
			serif;
		font-weight: normal;
		color: #19c3f7;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
}

.green_bg {
	background: linear-gradient(0deg, #00b58c, #014552);
}
.orange_bg {
	background: linear-gradient(0deg, #eca205, #4e3a21);
}

@mixin smallLight {
	width: vw(26);
	height: vh(26);
	background-size: 100% 100%;
}
.small_light_1 {
	@include smallLight;
	background-image: url('@/assets/images/equipment/small_light_1.png');
}

.small_light_2 {
	@include smallLight;
	background-image: url('@/assets/images/equipment/small_light_2.png');
}
@mixin largeLight {
	width: vw(40);
	height: vh(40);
	background-size: 100% 100%;
}
.large_light_1 {
	@include largeLight;
	background-image: url('@/assets/images/equipment/large_light_1.png');
}
.large_light_2 {
	@include largeLight;
	background-image: url('@/assets/images/equipment/large_light_2.png');
}

@mixin doorIcon {
	width: vw(23);
	height: vh(24);
	background-size: 100% 100%;
}
//通信状态图标
.door_icon_1 {
	@include doorIcon;
	background-image: url('@/assets/images/equipment/icon1.png');
}
//气源动力图标
.door_icon_2 {
	@include doorIcon;
	background-image: url('@/assets/images/equipment/icon2.png');
}
//操作记录图标
.door_icon_3 {
	width: vw(14);
	height: vh(14);
	background-image: url('@/assets/images/equipment/icon3.png');
	background-size: 100% 100%;
	box-shadow: 0 0 5px 4px #395ac7;
}
