//测风站
.default_cfz_video {
	background-image: url('@/assets/images/videos/de_di_cefengzhan.gif');
	background-size: cover;
}
//风窗
.default_fc_video {
	background-image: url('@/assets/images/videos/de_di_fengchuang.png');
	background-size: cover;
}
//风机
.default_fj_video {
	background-image: url('@/assets/images/videos/de_di_fengji.gif');
	background-size: cover;
}
// 风门
.default_fm_video {
	background-image: url('@/assets/images/videos/de_di_fengmen.gif');
	background-size: cover;
}
//局扇
.default_js_video {
	background-image: url('@/assets/images/videos/de_di_jushan.gif');
	background-size: cover;
}
