@font-face {
	font-family: 'Adobe Heiti Std';
	src: url('@/assets/fonts/ADOBEHEITISTD-REGULAR.OTF');
}
@font-face {
	font-family: 'ZHSRXT2011-GB';
	src: url('@/assets/fonts/ZHSRXT2011-GB.ttf');
}
@font-face {
	font-family: 'YouSheBiaoTiHei';
	src: url('@/assets/fonts/YouSheBiaoTiHei-2.ttf');
}
@font-face {
	font-family: 'Source Han Sans CN';
	src: url("@/assets/fonts/bb4171.ttf");
}
@import 'transition';
@import 'sidebar';
@import 'btn';
@import "defaultMinix";
@import 'ruoyi';
@import 'scrollStyle';
@import 'custBtn';
@import "default_table";
@import "default_video";
@import "element-ui.scss";

body {
	height: 100%;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family:
		Helvetica Neue,
		Helvetica,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		Arial,
		sans-serif;
}

label {
	font-weight: 700;
}

html {
	height: 100%;
	box-sizing: border-box;
}

#app {
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.no-padding {
	padding: 0 !important;
}

.padding-content {
	padding: 4px 0;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
	outline: none;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.pr-5 {
	padding-right: 5px;
}

.pl-5 {
	padding-left: 5px;
}

.block {
	display: block;
}

.pointer {
	cursor: pointer;
}

.inlineBlock {
	display: block;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: ' ';
		clear: both;
		height: 0;
	}
}

aside {
	background: #eef1f6;
	padding: 8px 24px;
	margin-bottom: 20px;
	border-radius: 2px;
	display: block;
	line-height: 32px;
	font-size: vw(16);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	color: #2c3e50;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	a {
		color: #337ab7;
		cursor: pointer;

		&:hover {
			color: rgb(32, 160, 255);
		}
	}
}

//main-container全局样式
.app-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.app-item-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: vh(30) vw(40) 0 vw(40);

	.app-item-container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.table-page-body {
		padding-bottom: vh(72);
	}
}

.components-container {
	margin: 30px 50px;
	position: relative;
}

.text-center {
	text-align: center;
}

.sub-navbar {
	height: 50px;
	line-height: 50px;
	position: relative;
	width: 100%;
	text-align: right;
	padding-right: 20px;
	transition: 600ms ease position;
	background: linear-gradient(
		90deg,
		rgba(32, 182, 249, 1) 0%,
		rgba(32, 182, 249, 1) 0%,
		rgba(33, 120, 241, 1) 100%,
		rgba(33, 120, 241, 1) 100%
	);

	.subtitle {
		font-size: vw(20);
		color: #fff;
	}

	&.draft {
		background: #d0d0d0;
	}

	&.deleted {
		background: #d0d0d0;
	}
}

.link-type,
.link-type:focus {
	color: #36e5ff;
	cursor: pointer;

	&:hover {
		color: rgb(32, 160, 255);
	}
}

.filter-container {
	padding-bottom: 10px;

	.filter-item {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
	}
}

//refine vue-multiselect plugin
.multiselect {
	line-height: 16px;
}

.multiselect--active {
	z-index: 1000 !important;
}

/*自定义动画类----顺时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeRight {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*自定义动画类----逆时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeLeft {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-180deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

//高亮线
.title_line {
	width: 100%;
	height: 3px;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0) 10%,
		rgba(97, 146, 250, 0.3) 20%,
		rgba(87, 205, 240, 0.4) 30%,
		rgba(87, 205, 240, 0.8) 40%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(87, 205, 240, 0.8) 60%,
		rgba(87, 205, 240, 0.4) 70%,
		rgba(97, 146, 250, 0.3) 80%,
		rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0) 100%
	);
}

//3D解算文字
.element_renderer {
	position: absolute;
	width: max-content;
	padding: vh(2) vw(5);
	height: max-content;
	box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}
.element_text {
	font-family:
		Adobe Heiti Std,
		serif;
	font-weight: normal;
	color: #000000;
	display: flex;
	align-items: center;
	font-size: 1px;
}

//节点标签
.node_label_bg{
	position: absolute;
	top: vh(-50);
}
.node_three_label{
	display: grid;
	grid-template-columns: vh(50);
	grid-template-rows: vh(50) vh(45);
	grid-template-areas:
			'header'
			'footer';
	justify-items: center;
}
.node_label_header{
	grid-area: header;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 vh(10) vh(5) #009fde inset;
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin IWave {
	content: '';
	position: absolute;
	left: -50%;
	width: vh(50);
	height: vh(50);
	border-radius: 50%;
	transform: translateY(50%) translateX(-50%) rotateX(50deg);
	opacity: 0;
}
@mixin threeLabelFooter {
	position: relative;
	grid-area: footer;
	width: 1px;
	height: 100%;

	animation: toHeight 4s infinite forwards;
	&:after {
		@include IWave;
		animation: wave 4s infinite;
	}
	&:before {
		@include IWave;
		animation: wave 4s infinite 0.5s;
	}
}
.node_label_footer{
	@include threeLabelFooter;
	background: #00ffff;
	&:after {
		background: rgba(53, 180, 254, 0.6);
		border: 1px solid #00ffff;
	}
	&:before {
		background: rgba(53, 180, 254, 0.6);
		border: 1px solid #00ffff;
	}
}
@keyframes toHeight {
	0% {
		height: 0;
	}
	25% {
		height: vh(50);
	}
}
@keyframes wave {
	0% {
		opacity: 0;
	}
	25% {
		transform: translateY(50%) translateX(-50%) rotateX(50deg) scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(50%) translateX(-50%) rotateX(50deg) scale(1.5);
		opacity: 0;
	}
}

