//水平居中
.f-center {
	display: flex;
	justify-content: center;
}
//水平垂直居中
.c-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
//垂直居中
.p-center {
	display: flex;
	align-items: center;
}
